* {
    box-sizing: border-box;
  }
  
  body {
    height:100vh;
    width: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    font-family: Helvetica;
  }
  
  h1, h2 {
    margin: auto;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
  }
  
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
    align-items: center;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
     background: linear-gradient(60deg, #02ccba 0%, #aa7ecd 100%);
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  }
  
  .cards {
    margin: auto;
    height: 125px;
    width: 125px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }
  
  button {
     box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 1vmin;
    margin: 4vmin;
    padding: 1vmin;
    background: linear-gradient(60deg, #02ccba 0%, #aa7ecd 100%);
    color: white;
    font-size: 4vmin;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    color: black;
  }